li.tz a{
	color:black;
	text-decoration: none;
}
li{
	list-style: none;
}
i{
	color: #ff7a50;
}
.head{
	/*background-color: #afb2c3;*/
	width: 800px;
}

ul.main{
	line-height: 37px;
}

ul.main li a:hover{
	color: crimson;
	font-weight: 800;
}

.bj1,.bj2,.bj3{
	display: none;
	color: #427C97;
	border: 1px solid #C5A9A9;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
